# Source files
src/
.storybook/
stories/

# Development files
.github/
.vscode/
.idea/
.editorconfig
.eslintrc
.eslintignore
.prettierrc
.prettierignore
.babelrc
rollup.config.js
jest.config.js
tsconfig.json

# Test files
__tests__/
**/*.test.js
**/*.test.jsx
**/*.spec.js
**/*.spec.jsx
**/*.stories.jsx
test-app/

# Misc
node_modules/
coverage/
.DS_Store
*.log
*.tgz
.env
.env.*
.cache/ 